[submodule "src/weather-app"]
	path = src/weather-app
	url = git@github.com:tbarinka/weather-app.git
[submodule "src/homepage/weather-app"]
	path = src/homepage/weather-app
	url = git@github.com:tbarinka/weather-app.git
[submodule "src/site-contents/battleship"]
	path = src/site-contents/battleship
	url = git@github.com:tbarinka/battleship.git
[submodule "src/site-contents/weather-app"]
	path = src/site-contents/weather-app
	url = git@github.com:tbarinka/weather-app.git
[submodule "src/site-contents/battleship-app"]
	path = src/site-contents/battleship-app
	url = git@github.com:tbarinka/battleship-app.git
